.search__container {
    position: relative;
    margin: auto;
    width: 80%;
    min-width: 100px;
}

.search__input {
    margin: auto;
    display: block;
    width: 100%;
    padding: 10px;
    box-shadow: 5px 5px 5px #00000056;
    text-align: center;
}

.search__btn {
    padding: 5px 20px;
    margin-top: 0.8rem;
    box-shadow: 5px 5px 5px #00000056;
}

.search__btn-icon {
    width: 1.5rem;
}

.search__reset {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
}